<!doctype html>
<html  lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet"/>

    <!-- ✓ No integrity hash — safest way to load FA -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link th:href="@{'/CSS/output.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/CSS/style.css'}">
</head>
<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
<!--common header-->
<div th:if="${loggedInUser}">
    <div th:replace="user/user_navbar::user_navbar"></div>
</div>
<!--<div th:if="${loggedInUser}">-->
<!--    <div th:replace="~{user/sidebar::sidebar}"></div>-->
<!--</div>-->
<div th:unless="${loggedInUser}">
    <div th:replace="navbar::navbar"></div>
</div>

<!--main content-->

<div class="p-4 pt-20 h-screen w-full">
    <section th:replace="${content}"></section>
</div>
<!--footer-->
<footer>

</footer>
 <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
<script th:src="@{'/JS/script.js'}"></script>
<!--<script src="https://unpkg.com/@hotwired/turbo@7.3.0/dist/turbo.es2017-esm.js" type="module"></script>-->
</body>

</html>